#main-container {
    display: flex;
    height: 70vh;
}

@font-face {
  font-family: image-2-font;
  src: url(./images/Norse-Bold.otf);
}

#image {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

#content {
    flex: 2;
}

#image-1 {
    flex-grow: 1;
    display: flex;
}

#image-1 img, #image-2 img {
    max-width: 100%;
    max-height: 100%;
}

#image-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    height: 150px;
    width: 100%;
    background: rgba(193, 193, 193, 0.1);
}

.img-2-text {
    font-family: image-2-font;
    font-size: 90px;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#content > div {
    flex: 1;
}


label, input {
    display: block;
}

#user-form {
    box-shadow: rgb(201, 201, 201) 0px 2px 15px;
}

#user-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#user-details > div {
    display: flex;
    gap: 60px;
}

#create-acc {
    padding: 12px 48px;
    color: white;
    font-weight: 900;
    background: gray;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 2px;
}

#header, #user-form, #footer {
    padding: 0 40px;
}

#header {
    display: flex;
    align-items: flex-end;
}

input {
    height: 20px;
    width: 200px;
}

.header-font {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: 800;
}